.post-item .card-title a {
  color: #333333;
}

.post-item .card-title a:hover {
  color: teal;
}

.post-item > a:hover .text-muted {
  color: teal !important;
}

p {
  margin: 0 0 0.5rem;
}

a,
a:hover,
a:focus,
a:visited,
a:link {
  text-decoration: none;
}

.breadcrumb a {
  color: teal;
  text-decoration: none;
}

@media (max-width: 991px) {
  header .display-4 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  header .display-4 {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  header .display-4 {
    font-size: 2rem;
  }
}
